 /* Reset some default styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }

  /* Container Styles */
  .masttec-container {
    width: 100%;
  
  }



  /* Navigation Bar Styles */
  .masttec-nav {
    background-color: #3c3b6e;
    color: #ffffff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .masttec-logo {
    width: 250px;
  }

  .masttec-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
  }

  .profile-image{
    border-radius: 50%;
    width: 50px;
    outline: none;
  }

  .profile-links{
    outline: none;
  }

  .masttec-menu-item {
    margin-left: 70px;
    position: relative;
  }

  .masttec-menu-link {
    color: inherit;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 8px;
    transition: border-bottom 0.3s;
    outline: none;
  }

  .masttec-menu-link:hover {
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  .masttec-submenu {
    display: none;
    position: absolute;
    background-color: #3c3b6e;
    width: 200px;
    padding: 10px;
    z-index: 1;
  }

  .masttec-menu-item:hover > .masttec-submenu {
    display: block;
  }

  .masttec-submenu-item {
    margin-left: 0;
    margin-bottom: 8px;
  }

  .masttec-submenu-link:hover {
    color: #d9d9d9;
  }

  /* USER PROFILE */

  .user-profile{
     background-color:#fff;
     /* border-radius: 50%; */
     width: 250px;
     height: 160px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     position: absolute;
     top: 85px;
     right: 5px;
     z-index: 100;
     padding: 10px;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     text-align: center;
     
  }

  .user-profile div >div{
     padding-top: 2px;
  }

  .active{
    display: none;
  }

  .user-name{
    font-weight: 600;
    font-size: 20px;
  }

  .user-Admin{
    font-weight: 500;
  }

  .user-id{
    color: #beb7b7;
    font-size: small;
  }

  .logout{
    background-color: #3c3b6e;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: small;
    cursor: pointer;
    outline: none;
  }

  .logout:hover{  
    background-color: #2f3b88;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .masttec-nav {
      padding: 12px;
    }

    .masttec-menu-link {
      font-size: 14px;
    }

    .masttec-menu-item {
      margin-left: 12px;
    }

    .masttec-submenu {
      width: 180px;
    }
  }