body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.msisnoopsofjfjj455 {
  display: flex;
  justify-content: center;
}

.lllollsols {
  width: 100%;
}
.aaaiuiuiweuiewueiwe {
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 30px 26px 36px;
}

.lllslslslsl {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}

.poepo34o344 {
  font-family: "Poppins", sans-serif;
  background-color: rgba(232, 233, 239, 1);
  border: none;
  width: auto;
  height: 41px;
  padding: 10px;
  border-radius: 5px;
  color: rgba(23, 33, 94, 1);
  font-weight: 500;
  /* border: 2px solid #ccc; */
  padding-right: 38px;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4" viewBox="0 0 292.4 292.4"><path fill="%23000" d="M287 69.6l-14.3-14.3c-5.5-5.5-14.3-5.5-19.8 0L146.2 162.1 39.5 55.3c-5.5-5.5-14.3-5.5-19.8 0L5.3 69.6c-5.5 5.5-5.5 14.3 0 19.8L136.4 220c5.5 5.5 14.3 5.5 19.8 0L287 89.4c5.5-5.5 5.5-14.3 0-19.8z"/></svg>')
    no-repeat right 7px center;
  background-color: rgba(232, 233, 239, 1);
  background-size: 10px;
  padding-top: 8px;
  font-size: 15px;
}
.poepo34o344:focus {
  border-color: rgba(23, 33, 94, 1) !important;
  outline: none;
}
.poepo34o344:not(:focus) {
  border-color: rgba(23, 33, 94, 1) !important;
}
.oirruirururru {
  display: flex;
  align-items: center;
  column-gap: 27px;
}
.oggdbdbdbdbdbd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createPaybuttonss {
  font-family: "Poppins", sans-serif;
  width: 162px;
  height: 39px;
  top: 179px;
  left: 1101px;
  gap: 0px;
  border-radius: 5px;
  background-color: rgba(23, 33, 94, 1);
  color: #fff;
  border: none;
  font-size: 14px;
}

.lpspspspsp {
  width: 18px;
  background-color: rgba(23, 33, 94, 0.23);
  height: 55px;
}
.nofofhrhhrrh {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.mcmcmcmcmcm {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 5px;
}
.ooolllolll {
  display: flex;
  align-items: flex-start;
  column-gap: 17px;
}
.kkllkklsaazzzlslsl {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
